﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
    <ana-menu items="@ViewBag.Menuler"></ana-menu>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="list-group">
                    @foreach (Menu menu in ViewBag.AltMenuler)
                    {
                        <a asp-controller="@menu.Controller"
                           asp-action="@menu.Action"
                           class="list-group-item list-group-item-action" aria-current="true">
                            @menu.DisplayName
                        </a>
                    }
                </div>
            </div>
            <div class="col-9">
                @RenderBody()
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>