
<p>Test</p>

@* <a asp-controller="User" asp-action="Add">Kullanıcı Ekle</a>

<a asp-controller="Home" asp-action="About">Hakkımızda</a> *@

@* @Url.Action("test") *@

<a href="@Url.RouteUrl("public", new { controller = "Home", action = "Index" })">
    /Public/Home/Index
</a>
<br />

<a href="@Url.RouteUrl("admin", new { controller = "User", action = "Add" })">
    /Admin/User/Add
</a>
<br />

<a href="@Url.RouteUrl("admin", new { controller = "Home", action = "Index" })">
    /Admin/Home/Index
</a>
<br />
<a href="@Url.RouteUrl("public", new { controller = "User", action = "Add" })">
    /Public/User/Add
</a>
<br />