@using Example01.Library
@*
    Bu satırlar razor view engine için yorum satırlarıdır.
*@
@functions{
    // public class Person
    //     {
    // public int Id { get; set; }
    // public string Name { get; set; }
    // public string Surname { get; set; }
    //     }

    //sonradan dışarı taşıdık.
}
@{
    int sayi1 = (new Random().Next(100)) + 1;
    int sayi2 = (new Random().Next(100)) + 1;

    int sonuc = sayi1 + sayi2;

    int[] sayilar = [15, 26, 45, 10, 19, 4, 91];

    List<Person> people = new List<Person>();
    people.Add(new Person() { Id = 1, Name = "Bengü", Surname = "Ürgen", BirthDate= new DateOnly(1980,3,5)});
    people.Add(new Person() { Id = 2, Name = "Bengü", Surname = "Demir", BirthDate = new DateOnly(1990, 4, 6) });
    people.Add(new Person() { Id = 3, Name = "Bengü", Surname = "Ürgen Demir", BirthDate = new DateOnly(2000, 7, 8) });

    string countPeople = $"Toplam : {people.Count} ";

}

<p> @(sayi1) + @(sayi2+1) = @sonuc +1 </p>
<p>@(sayi1) + @(sayi2) = @(sayi1+sayi2)</p>

<p> Sonuc: @sonuc</p>

@if (sonuc % 2 == 0)
{
<p style="color:palevioletred; font-weight:bolder">Sonuc çiftir.</p>
}
else
{
<p style="color:lightgreen; font-weight:bolder">Sonuç tektir.</p>
}
<ul>

    @for (int i = 0; i<sayilar.Length; i++)
    {
    <li>@sayilar[i]</li>
    }

</ul>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Birth Date of Month</th>
        </tr>
    </thead>
    <tbody>

    @foreach( Person person in people)
    {
        <tr>
            <td>@person.Id</td>
            <td>@person.Name</td>
            <td>@person.Surname</td>
            <td>
                @switch (person.BirthDate.Month)
                {
                            case 0:
                            <span> Ocak</span>
                            break;
                            case 1:
                            <span> Şubat</span>
                            break;
                            case 2:
                            <span> Mart</span>
                            break;
                            case 3:
                            <span> Nisan</span>
                            break;
                            case 4:
                            <span> Mayıs</span>
                            break;
                            case 5:
                            <span> Haziran</span>
                            break;
                            case 6:
                            <span> Temmuz</span>
                            break;
                            case 7:
                            <span>Ağustos </span>
                            break;
                            case 8:
                            <span>Eylül </span>
                            break;
                            case 9:
                            <span>Ekim </span>
                            break;
                            case 10:
                            <span>Kasım </span>
                            break;
                            case 11:
                            <span>Aralık </span>
                            break;
                }
            </td>


        </tr>
    }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" style="text-align:right">
                @countPeople
            </td>

        </tr>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
    </tfoot>

</table>

